{% extends 'base.html' %}
{% load static %}


{% block content %}
    <main>
        <!-- Hero Area Start-->
        <div class="slider-area ">
            <div class="single-slider slider-height2 d-flex align-items-center">
                <div class="container">
                    <div class="row">
                        <div class="col-xl-12">
                            <div class="hero-cap text-center">
                                <h2>Know Your Emotion for a particular Video</h2>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {% include 'messages.html' %}
        <!-- Hero Area End-->
        <!--================login_part Area =================-->
        <section class="login_part section_padding ">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-lg-6 col-md-6">
                        <div class="login_part_text text-center">
                            <div class="login_part_text_iner">
                                <h2>Trying to find sentiment of comments of video</h2>
                                <p>There are advances being made in science and technology
                                    everyday, and a good example of this is the</p>
                                <a href="{% url 'sentiment:show_emotion_video_comment' %}" class="btn_3">Comments Emotion Analysis</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6">
                        <div class="login_part_form">
                            <div class="login_part_form_iner">
                                <h3>
                                    Know your emotion just by providing few details</h3>
                                <form class="row contact_form" method="post"action="{% url 'sentiment:show_emotion_video_result' %}">
                                    {% csrf_token %}
                                    {% if form.errors %}
                                    <div id="errors">
                                        <div class="inner">
                                            <p style="color:red">Please correct the errors below</p>
                                            <ul>
                                                {% for field in form %}
                                                {% if field.errors %}
                                                <li>{{ form.label }} : {{ field.errors|striptags }}</li>
                                                {% endif %}
                                                {% endfor %}
                                            </ul>
                                        </div>
                                    </div>
                                {% endif %}
                                    <div class="col-md-12 form-group p_star">
                                        <input type="text" class="form-control" id="video_id" name="video_id" value=""
                                            required placeholder="video id of particular video">
                                    </div>
                                    <div class="col-md-12 form-group">
                                        <button type="submit" value="submit" class="btn_3">
                                            Know Your Emotion
                                        </button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </main>
{% endblock %}