{% extends 'base.html' %}
{% load static %}

{% block content %}

<main>
        <!-- Hero Area Start-->
        <div class="slider-area ">
            <div class="single-slider slider-height2 d-flex align-items-center">
                <div class="container">
                    <div class="row">
                        <div class="col-xl-12">
                            <div class="hero-cap text-center">
                                <h2>Login</h2>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% include 'messages.html' %}
        <!-- Hero Area End-->
        <!--================login_part Area =================-->
        <section class="login_part section_padding ">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-lg-6 col-md-6">
                        <div class="login_part_text text-center">
                            <div class="login_part_text_iner">
                                <h2>New to our App?</h2>
                                <p>We build new technologies to make life more easier and want to bring the youtubers more close through their subscribers</p>
                                <a href="{% url 'users:register' %}" class="btn_3">Create an Account</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6">
                        <div class="login_part_form">
                            <div class="login_part_form_iner">
                                <h3>Welcome Back ! <br>
                                    Please Sign in now</h3>
                                <form class="row contact_form" method="post" novalidate="novalidate">
                                    {% csrf_token %}
                                    {% if user.is_authenticated %}
                                    <h2 style="color:red">You already Logged in!</h2>
                                    {% else %}
                                    {% if form.errors %}
                                    <div id="errors">
                                        <div class="inner">
                                            <p style="color:red">Please correct the errors below</p>
                                            <ul>
                                                {% for field in form %}
                                                {% if field.errors %}
                                                <li>{{ form.label }} : {{ field.errors }}</li>
                                                {% endif %}
                                                {% endfor %}
                                            </ul>
                                        </div>
                                    </div>
                                    {% endif %}
                                    <div class="col-md-12 form-group p_star">
                                        <input type="text" class="form-control" id="name" required="" name="username" value=""
                                            placeholder="Username">
                                    </div>
                                    <div class="col-md-12 form-group p_star">
                                        <input type="password" class="form-control" id="password" required="" name="password" value=""
                                            placeholder="Password">
                                    </div>
                                    <div class="col-md-12 form-group">
                                    <button type="submit" value="submit" class="btn_3">
                                            log in
                                    </button>
                                     {% endif %}
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!--================login_part end =================-->
    </main>
{% endblock %}